body {
  height: 2000px;
}

.header {
  height: 144px;
}

.header_wrap {
  position: relative;
  max-width: 1200px;
  height: 90px;
  margin: 0 auto;
  line-height: 90px;
}

.util_wrap {
  position: absolute;
  top: 0;
  right: 0;
}

.util_wrap ul {
  display: flex;
}

.util_wrap ul li {
  margin: 0px 12px;
}

.util_wrap ul li a {
  text-decoration: none;
  color: #000;
}

.gnb {
  position: sticky;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 53px;
  box-sizing: border-box;
}

.gnb ul {
  display: flex;
  line-height: 53px;
  justify-content: center;
}

.gnb li {
  margin: 0px 40px;
}

.gnb ul li a {
  position: relative;
  text-decoration: none;
  color: #000;
  display: inline-block;
  line-height: 53px;
  width: 100%;
  font-size: 15px;
}

.gnb li a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #c29683;
  transition: 400ms width;
  margin-top: -5px;
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.gnb li a:hover::after {
  width: 100%;
}

.main_banner {
  height: 690px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 100px 0px;
  margin-bottom: 100px;
}

.main_banner h2 {
  font-size: 28px;
}

.main_adopting {
  background-color: #002c23;
  padding: 80px 0px 100px;
  text-align: center;
}

.adopting_title {
  font-size: 32px;
  color: #fff;
  padding-bottom: 50px;
}

.adopting_title .bold {
  font-weight: 900;
  margin-right: 6px;
}

.adopting_cat .img {
  position: relative;
  padding: 0 5px;
  overflow: hidden;
}

.adopting_cat .img .img_src {
  display: block;
  overflow: hidden;
  padding-bottom: 66%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
