body {
  height: 2000px;
}

.mt_20 {
  margin-top: 20px;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.header {
  height: 144px;
}

.header_wrap {
  position: relative;
  max-width: 1200px;
  height: 90px;
  margin: 0 auto;
  line-height: 90px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.util_wrap {
  position: absolute;
  top: 0;
  right: 0;
}

.util_wrap ul {
  display: flex;
}

.util_wrap ul li {
  margin: 0px 12px;
}

.util_wrap ul li a {
  text-decoration: none;
  color: #000;
}

.gnb {
  position: sticky;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 53px;
  box-sizing: border-box;
}

.gnb ul {
  display: flex;
  line-height: 53px;
  justify-content: center;
}

.gnb li {
  margin: 0px 40px;
}

.gnb ul li a {
  position: relative;
  text-decoration: none;
  color: #000;
  display: inline-block;
  line-height: 53px;
  width: 100%;
  font-size: 15px;
}

.gnb li a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #c29683;
  transition: 400ms width;
  margin-top: -5px;
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.gnb li a:hover::after {
  width: 100%;
}

.main_banner {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_banner h2 {
  font-size: 60px;
  color: #fff;
  font-weight: 400;
}

.main_banner p {
  margin-top: 12px;
  font-size: 16px;
  letter-spacing: 8px;
  font-weight: 400;
  color: #fff;
}

.main_adopting {
  background-color: #002c23;
  padding: 80px 0px 70px;
  text-align: center;
}

.adopting_title {
  font-size: 32px;
  color: #fff;
  padding-bottom: 50px;
}

.adopting_title .bold {
  font-weight: 900;
  margin-right: 6px;
}

.adopting_cat .img {
  position: relative;
  padding: 0 5px;
  overflow: hidden;
}

.adopting_cat .img .img_src {
  display: block;
  overflow: hidden;
  padding-bottom: 66%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

._bar {
  text-align: center;
  margin-bottom: 50px;
  color: #222222;
}

.title_wrap {
  padding: 80px 0 80px;
}

.board_title .tit_1 {
  position: relative;
  display: inline-block;
  font-size: 32px;
}

.board_title .tit_1::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid #222;
  width: 1200px;
  top: 50%;
  left: calc(100% + 30px);
}

.board_title .tit_1::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid #222;
  width: 1200px;
  top: 50%;
  right: 110%;
}

.board_title .tit_1 strong {
  font-weight: bold;
}

.board_title .tit_2 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 5px;
}

.vertical_list {
  display: flex;
  flex-wrap: wrap;
}

.vertical_list .item {
  padding: 20px 20px 10px 20px;
  list-style: none;
}

.vertical_list .item a img {
  width: 270px;
  height: 380px;
}

.latest_wr {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.latest_wr>div {
  width: 49.5%;
  background: #fff;
  border-radius: 0.8rem;
  box-shadow: 0 39px 67px 3px hsl(0deg 0% 67% / 30%);
  cursor: pointer;
  transition: all 0.25s ease;
  overflow: hidden;
  margin-bottom: 64px;
}

.latest_wr>div>.title {
  padding: 1rem 2.4rem;
  background: #333;
  color: #fff;
  font-size: 20px;
  position: relative;
}

.latest_wr>div>.list_wrap .list>a {
  display: table;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.latest_wr>div>.list_wrap .list .date {
  width: 80px;
  color: #656565;
  text-align: center;
}

.latest_wr>div>.list_wrap .list .content {
  padding-left: 32px;
  width: calc(100% - 100px);
}

.latest_wr>div>.list_wrap .list>a>div {
  float: left;
  display: table-cell;
}

.product_title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 8px;
}

.product_price {
  font-size: 20px;
  color: #333;
}

.product_loc {
  font-size: 18px;
  color: #888;
  text-align: center;
  margin-bottom: 8px;
}

.sub_con {
  padding: 95px 0px 100px;
  position: relative;
}

.table_board_for {
  margin-top: 30px;
  table-layout: fixed;
  width: 100%;
  border-top: 1px solid #474b53;
  border-bottom: 1px solid #ddd;
  text-align: center;
  word-break: break-all;
}

.table_board_for td {
  padding: 20px 5px;
  border-top: 1px solid #ddd;
  text-align: center;
  vertical-align: top;
  font-size: 15px;
}

.table_board_for thead th {
  color: #444;
  font-weight: bold;
  padding: 13px 2px;
  position: relative;
}

table td.text_left {
  text-align: left;
}

.posi_r {
  position: relative;
}

.table_board_for .detail_link {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.table_board_for .detail_link:hover {
  color: #c29683;
  text-decoration: underline;
}

table .col_w {
  width: 120px;
}

.table-view-01 {
  table-layout: fixed;
  width: 100%;
  border-bottom: solid 1px #ddd;
}

.table-view-01 .text_left {
  text-align: left;
}

.table-view-01 tr:first-child td {
  border-top: solid 1px #000;
}

.table-view-01 .tit_box {
  border-bottom: 2px solid #ddd;
}

.table-view-01 th,
.table-view-01 td {
  padding: 16px 10px;
  vertical-align: top;
  border-top: solid 1px #ddd;
}

.table-view-01 .tit_box p.tit {
  float: left;
}

.table-view-01 .tit_box p.tbl_detail_span {
  float: right;
}

.table-view-01 .tit {
  font-size: 18px;
  color: #000;
}

.table-view-01 .tit_box p.tbl_detail_span .date:before {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 10px;
  margin: -1px 7px 0 4px;
  background: #bbb;
  content: "";
  vertical-align: middle;
}

.table-view-01 .addfile_txt {
  padding-left: 35px;
  background: url(../images/icon/file_i.png) no-repeat 0 0;
}

.table-view-01 td .board-box {
  min-height: 150px;
  padding: 10px;
  text-align: initial;
  color: #666;
  line-height: 24px;
}

.reply_top {
  font-size: 18px;
  padding: 18px 10px;
  border-bottom: 1px solid #000;
}

.reply_box {
  padding: 18px 10px;
  border-bottom: 2px solid #ddd;
  display: flex;
}

.reply_box:last-child {
  padding: 18px 10px;
  border-bottom: 1px solid #000;
  display: flex;
}

.reply_writer {
  flex: 15%;
  padding-right: 26px;
}

.reply_content {
  color: #666;
  flex: 65%;
}

.reply_datetime {
  flex: 20%;
  text-align: right;
}

.board_btn_box {
  display: flex;
  flex-grow: 100%;
  width: 1200px;
  justify-content: center;
}

.board_btn {
  display: inline-block;
  padding: 12px 8px;
  background: #00703c;
  color: #fff;
  border: none;
  margin: 12px 6px;
  cursor: pointer
}

.board_create_title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 28px;
  font-weight: 500;
  color: #000;
}

.board_title_input {
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  height: 38px;
  padding: 8px;
}

.board_content_input {
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
  resize: both;
  font-size: 16px;
  line-height: 1.5;
}