body {
  height: 2000px;
}

.header {
  height: 144px;
}

.header_wrap {
  position: relative;
  max-width: 1200px;
  height: 90px;
  margin: 0 auto;
  line-height: 90px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.util_wrap {
  position: absolute;
  top: 0;
  right: 0;
}

.util_wrap ul {
  display: flex;
}

.util_wrap ul li {
  margin: 0px 12px;
}

.util_wrap ul li a {
  text-decoration: none;
  color: #000;
}

.gnb {
  position: sticky;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 53px;
  box-sizing: border-box;
}

.gnb ul {
  display: flex;
  line-height: 53px;
  justify-content: center;
}

.gnb li {
  margin: 0px 40px;
}

.gnb ul li a {
  position: relative;
  text-decoration: none;
  color: #000;
  display: inline-block;
  line-height: 53px;
  width: 100%;
  font-size: 15px;
}

.gnb li a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #c29683;
  transition: 400ms width;
  margin-top: -5px;
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.gnb li a:hover::after {
  width: 100%;
}

.main_banner {
  height: 690px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 100px 0px;
  margin-bottom: 100px;
}

.main_banner h2 {
  font-size: 28px;
}

.main_adopting {
  background-color: #002c23;
  padding: 80px 0px 70px;
  text-align: center;
}

.adopting_title {
  font-size: 32px;
  color: #fff;
  padding-bottom: 50px;
}

.adopting_title .bold {
  font-weight: 900;
  margin-right: 6px;
}

.adopting_cat .img {
  position: relative;
  padding: 0 5px;
  overflow: hidden;
}

.adopting_cat .img .img_src {
  display: block;
  overflow: hidden;
  padding-bottom: 66%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

._bar {
  text-align: center;
  margin-bottom: 50px;
  color: #222222;
}

.title_wrap {
  padding: 80px 0 80px;
}

.board_title .tit_1 {
  position: relative;
  display: inline-block;
  font-size: 32px;
}

.board_title .tit_1::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid #222;
  width: 1200px;
  top: 50%;
  left: calc(100% + 30px);
}

.board_title .tit_1::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid #222;
  width: 1200px;
  top: 50%;
  right: 110%;
}

.board_title .tit_1 strong {
  font-weight: bold;
}

.board_title .tit_2 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 5px;
}

.vertical_list {
  display: flex;
  flex-wrap: wrap;
}

.vertical_list .item {
  padding: 20px 20px 10px 20px;
  list-style: none;
}

.vertical_list .item a img {
  width: 270px;
  height: 380px;
}

.latest_wr {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.latest_wr > div {
  width: 49.5%;
  background: #fff;
  border-radius: 0.8rem;
  box-shadow: 0 39px 67px 3px hsl(0deg 0% 67% / 30%);
  cursor: pointer;
  transition: all 0.25s ease;
  overflow: hidden;
  margin-bottom: 64px;
}

.latest_wr > div > .title {
  padding: 1rem 2.4rem;
  background: #333;
  color: #fff;
  font-size: 20px;
  position: relative;
}

.latest_wr > div > .list_wrap .list > a {
  display: table;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.latest_wr > div > .list_wrap .list .date {
  width: 80px;
  color: #656565;
  text-align: center;
}

.latest_wr > div > .list_wrap .list .content {
  padding-left: 32px;
  width: calc(100% - 100px);
}

.latest_wr > div > .list_wrap .list > a > div {
  float: left;
  display: table-cell;
}

.product_title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 8px;
}

.product_price {
  font-size: 20px;
  color: #333;
}

.product_loc {
  font-size: 18px;
  color: #888;
  text-align: center;
  margin-bottom: 8px;
}
