.red {
  color: red;
}

.login-wrap {
  height: 80vh;
}

.login-wrap .login-title {
  padding: 48px 0px;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

.join-wrap {
  padding: 95px 0px 100px;
  max-width: 560px;
  margin: 0 auto;
}

.join-wrap .join-title {
  padding: 48px 0px 78px;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

.join-form {
  text-align: center;
}

.join-form input {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: 0;
  background-color: #fff;
  font-size: 16px;
  padding: 0px 12px 0px 8px;
  width: 100%;
}

.join-form input:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.join-form input:focus {
  outline: none;
}

.join-form-main-title {
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  margin: 28px 0px 72px 0px;
}

.form-item {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 60px;
  border: 1px solid #d8d8d8;
}

.form-item:first-child {
  border: 1px solid #d8d8d8;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.form-item:not(:first-child) {
  border-top: none;
}

.form-item:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.form-item-icon {
  padding-left: 15px;
}

.form-item-icon svg {
  width: 20px;
  height: 20px;
}